[2017-03-11 12:23] thatsankur opened #1 "Issue in donloading https://jcenter.bintray.com/org/jetbrains/kotlin/kotlin-compiler-embeddable/1.0.6/kotlin-compiler-embeddable-1.0.6.jar"
Gradle is struck at downloading https://jcenter.bintray.com/org/jetbrains/kotlin/kotlin-compiler-embeddable/1.0.6/kotlin-compiler-embeddable-1.0.6.jar

This is really nice demo but I can not see it working because of above issue please let me know how I can resolve it

thought downloading above file works like a charm but gradle was able to download 7mb in 5 hrs :/

[2017-03-11 13:58] igalata commented on #1
Hello @thatsankur
Can you please provide me with more details? Is your project in Java or Kotlin? Could you please share your build.gradle file?

[2017-03-11 17:37] thatsankur commented on #1
@igalata
I am just trying the sample app without any changes and I don't think there is any issue with application but the download of kotlin during build process via gradle is taking huge amount of time  (my internet connection is fine)

it is very very slow :/

AnkurNp1:Bubble-Picker-develop ankur.singh2$ ./gradlew installOriginalDebug
To honour the JVM settings for this build a new JVM will be

[2017-03-11 18:09] thatsankur commented on #1
@igalata

It worked when I changed
ext.kotlin_version = '1.1.0' form 1.0.6

earlier it was dead slow :-D

Thanks :)

[2017-03-11 18:10] #1 closed

[2017-03-11 18:11] igalata commented on #1
@thatsankur It's great ;)

[2017-03-13 12:54] thatsankur opened #3 "NullPointer Issue while device is rotated"
When device is rotated it causes Null pointer exception in this lib

03-13 18:20:41.611 17885-18474/? E/AndroidRuntime: FATAL EXCEPTION: GLThread 26500
                                                   Process: com.hyperbolicdevs.opendictionary, PID: 17885
                                                   java.lang.NullPointerException: Attempt to invoke virtual method 'org.jbox2d.dynamics.Fixtu

[2017-03-13 14:19] igalata commented on #3
Hello, @thatsankur
Can't reproduce this crash, but I've found the condition when it could be reproduced. Sometimes the `World` instance can be locked, so it's impossible to create the bodies. Now it's ok. Please review the v0.1.2 version of the library.
Also I'd like to mention that the animation is not well-adapted for the landscape orientation. On the phones there is no enough space for the bubb

[2017-03-13 15:59] thatsankur commented on #3
@igalata It's great lib and well suited for my requirement ! Thanks for it but the issue is it is in kotlin and I don't have enough time to dig deeper into this (phew!)
let me see the change if works I will update you
Thanks for quick response :)

[2017-03-13 16:07] igalata commented on #3
@thatsankur Yep, I'm highly motivated to improve this library. Thanks for help on that way :)

[2017-03-15 09:00] myinnos opened #4 "Text and Bubble size?"
This lib is very interesting 👍  I want to know how to increase the bubble size and text size on bubble ?

[2017-03-15 09:08] igalata commented on #4
Hello, @myinnos
Thanks :) You can change the bubbles size by setting the `picker.bubbleSize` variable the appropriate size (`BubbleSize.SMALL`, `BubbleSize.MEDIUM` or `BubbleSize.LARGE`) in Kotlin or using the `picker.setBubbleSize()` method in Java. And the text will be resized according this selected size. A bit later it'll be possible to more flexible customize the animation

[2017-03-15 10:58] myinnos commented on #4
Thanks mate 👍

[2017-03-15 10:58] #4 closed

[2017-03-19 22:03] ahmedpamin opened #5 "Dependency does not work"
Would really like to take advantage of this library but it does not allow me to sync it to my project.
Error:(41, 13) Failed to resolve: com.github.igalata:Bubble-Picker:v0.1.2
<a href="openFile:/Users/ahmedamin/Desktop/NTSUApp/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2017-03-20 00:23] a7medpa commented on #5
Put maven in build script instead of all repositories by accident.

[2017-03-20 00:23] #5 closed

[2017-03-20 09:19] #3 closed

[2017-03-20 14:30] ahmedpamin opened #6 "Does not work on minSDK 16"
It seems that the library only works on sdk 23+ as it does not work at all on minSDK16, it repeatedly produces this error: `E/emuglGLESv2_enc: device/generic/goldfish-opengl/system/GLESv2_enc/GL2Encoder.cpp:s_glActiveTexture:1260 GL error 0x500`. The app does not crash, rather it freezes and it does not show anything.

[2017-03-20 14:57] igalata commented on #6
Hello @ahmedpamin
Have you tried the version from the Play Store? Doesn't it work? I've just checked it on 5.1.1, and it works ok. Provide me with more details, please, so I could fix this issue

[2017-03-20 15:02] igalata commented on #6
@ahmedpamin Also tried on 4.2.1, it works too

[2017-03-20 16:18] a7medpa commented on #6
Sure, take a look at the code: http://pastebin.com/0NN2PfQH
If you want you can just put in some drawables after the same names and test it with your bubble picker layout, it should reproduce the same error.

Like this:
03-20 16:42:32.652 3998-5516/com.example.ahmedamin.ntsuapp W/System.err: SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
03-20 16:42:32.652 3998-5516/com.example.a

[2017-03-21 08:57] igalata commented on #6
@ahmedpamin What the device are you testing on? Does the demo from Play Store work correctly on your device?

[2017-03-21 10:07] a7medpa commented on #6
Nexus 6 API25 on android studio emulator.

[2017-03-21 10:10] igalata commented on #6
@ahmedpamin I'm not really sure about the emulator. Please, check the version from the Play Store on the real device

[2017-03-21 10:13] a7medpa commented on #6
The source code works fine but that's using kotlin, using java it does not work

[2017-03-21 10:16] igalata commented on #6
@ahmedpamin There is no difference between using Java and Kotlin, since both are compiled to bytecode. The emulator can be the reason of this issue

[2017-03-21 10:43] a7medpa commented on #6
I think you are right because I have tested it on a tablet with SDK21 and there are no signs of that error however it makes all of the bubbles black.

[2017-03-21 10:53] igalata commented on #6
Ok, I'll check it

[2017-03-21 15:05] a7medpa commented on #6
This is what I get on the tablet:

03-21 15:04:44.912 4696-5488/com.example.ahmedamin.ntsuapp I/art: WaitForGcToComplete blocked for 43.205ms for cause Alloc
03-21 15:04:44.965 4696-5488/com.example.ahmedamin.ntsuapp I/art: Alloc sticky concurrent mark sweep GC freed 45(2064B) AllocSpace objects, 0(0B) LOS objects, 0% free, 79MB/80MB, paused 897us total 12.588ms
03-21 15:04:45.079 4696-4711/com.ex

[2017-03-21 20:05] a7medpa commented on #6
I do not know if you did anything with the library but I tested it again and it works on SDK 16. However, it still produces the same errors every second continuously but it shows up fine on the emulator, I am trying to implement it now to open a activity see if it works on deselect and select. The tablet still shows it as black bubbles and the messages are shown above for it.

EDIT: It does appear

[2017-03-22 07:13] igalata commented on #6
@ahmedpamin I fixed this crash, please review v0.1.3 version, it should be ok

[2017-03-22 10:54] a7medpa commented on #6
@igalata thanks it works now, do you have any usage guides on how to use it with on pause and on resume so when I go back it is in the same state as it takes a few seconds to load? Also please note that I written my previous post incorrectly it is meant to be:

[2017-03-22 21:06] igalata commented on #6
@ahmedpamin, are you talking about saving bubbles state? If so, it's necessary to override `onSaveInstanceState()` and `onRestoreInstanceState()` methods in your activity. I think it's even better to handle it in `BubblePicker` view, so I'll implement it shortly. Did I understand you correctly?
Also please share your latest code, so I could help you to fix 'black bubbles' issue.

[2017-03-22 21:17] a7medpa commented on #6
@igalata Yes that is exactly what I meant, thank you. Also the code for the black bubbles is still the same as posted. I just tested it again on a nexus 7 API 22 and I can confirm it is still black.

[2017-03-30 11:22] anitaa1990 opened #8 "Add an extra icon to the bubble Picker?"
Hi I would like to add the drawable as an icon above the text rather than as a background. Please find attached screenshot:

![example](https://cloud.githubusercontent.com/assets/22608780/24501937/440a9d5c-1569-11e7-9133-7958623d8eee.png)

Please let me know if this is possible.

Thanks for your help!

[2017-03-30 11:33] igalata commented on #8
Hello @anitaa1990
There is no such feature at the moment, but I can easily implement it very soon. I'll notify you when it's ready

[2017-03-30 11:35] anitaa1990 commented on #8
Thanks a lot 👍  Appreciate it!

[2017-03-30 21:44] igalata commented on #8
@anitaa1990 It's possible to add extra icon in the current (v0.2) version. Please, review changelog on readme for more details :)

[2017-03-31 07:13] anitaa1990 commented on #8
Hi @igalata Thanks a lot for the quick response! It is working very good :)

Just a small doubt: when ever I click on a bubble the background color becomes transparent. And when I checked out the library, there is an option to pass an image as a background. But I would like to only change the color of the bubble background (and don't have to add an image to it). Is there a way to do this?

[2017-03-31 07:17] igalata commented on #8
@anitaa1990 Thanks for your attention to the animation :)
Check the `overlayAlpha` variable. If it's 1, the background won't be transparent. Or you want to change the background color when the bubble is selected?

[2017-03-31 07:23] anitaa1990 commented on #8
No the overlayAlpha is perfect 👍  Thanks a lot :)

[2017-03-31 07:28] igalata commented on #8
Great! ;)

[2017-03-31 07:28] #8 closed

[2017-03-31 07:37] anitaa1990 commented on #8
@igalata Hey sorry to keep bugging you with questions :)

Just one more: I checked out the demo app you have and the animation there is loaded really quickly. But in my app, it takes a while for the animation to load. Is there something I need to add to make the bubbles load faster?

[2017-03-31 07:40] igalata commented on #8
It's ok :)
Can you share your code? I'll check it to advise you

[2017-03-31 07:44] anitaa1990 commented on #8
![example](https://cloud.githubusercontent.com/assets/22608780/24541185/006fb518-1614-11e7-9013-b03f09974600.png)

Thanks :)

[2017-03-31 07:57] igalata commented on #8
Your code seems to be ok, I'll check it one more time today. But I think the images could be the reason of the problem. Are they too large? Or the problem occurs even if you don't pass the images at all?

[2017-03-31 08:08] anitaa1990 commented on #8
Good point! I just checked the image sizes and all are 18KB. But I tried it without the images and same result.

[2017-03-31 08:14] igalata commented on #8
It's really strange issue. I'll let know when I fix it

[2017-04-04 15:48] uhlukguy opened #10 "Change bubble speed"
Hi thanks for creating this library,
I wanted to know if it's possible to change the speed of the bubbles showing up the screen. The default speed is a bit too slow for me. Thanks.

[2017-04-04 15:51] igalata commented on #10
Hello @uhlukguy
There is no such functionality now, but I'll implement it very soon. Thanks for the idea! :)

[2017-04-04 16:16] igalata commented on #8
@anitaa1990 Hello :)
I didn't find a solution yet, but could you share a video how the animation works in your case?

[2017-04-05 00:10] JRSoftware92 opened #11 "Enhancement - Bubble Picker Adapters"
First, great job on this library. It's given me a great idea for an app that I intend to develop.

Second, this seems like it would lend well to an adapter pattern, similar to Android ListViews or RecyclerViews. This is of course no small feat, but I'd love to see some way to implement custom physics so that developers can customize the location of the bubbles in the view and how they interact wit

[2017-04-05 06:23] igalata commented on #11
Hi @JRSoftware92  :)
Thanks for your feedback and for your attention to my library :)
Yep, I think it's reasonable, since the number of parameters is growing and it seems to be unhandy to use them all at the same time. The standard adapter is a good solution.
Also I'm thinking about how to make it easy for developer to customize the physics of the animation. Any way it's necessary to give an acces

[2017-04-13 02:14] kmar966 commented on #11
Error:Execution failed for task ':app:transformClassesWithJarMergingForDebug'.

[2017-04-13 02:23] kmar966 opened #12 "Error:Execution failed for task ':app:transformClassesWithJarMergingForDebug'. > com.android.build.api.transform.TransformException: java.util.zip.ZipException: duplicate entry: org/slf4j/event/EventConstants.class"

[2017-04-13 02:24] kmar966 opened #13 "Duplicate entry"
Error:Execution failed for task ':app:transformClassesWithJarMergingForDebug'. > com.android.build.api.transform.TransformException: java.util.zip.ZipException: duplicate entry: org/slf4j/event/EventConstants.class

Got the error when trying to generate the apk file

[2017-04-13 06:47] #12 closed

[2017-04-13 06:52] igalata commented on #13
Hi @kmar966
What version of the library do you use? Are you trying to build the sample app or you're using the library separately? Provide me with more details please

[2017-04-13 07:02] kmar966 commented on #13
allprojects {
	repositories {
	...
	maven { url "https://jitpack.io" }
	}
}

dependencies {
	compile 'com.github.igalata:Bubble-Picker:v0.2'
}

I was trying to use in the app Im working on.

Cheers,

Kateti

On Thu, Apr 13, 2017 at 6:52 PM, Irina Galata <notifications@github.com>
wrote:

[2017-04-13 07:07] igalata commented on #13
Could you share your build.gradle file?

[2017-04-14 22:11] kmar966 commented on #13
[Archive 2.zip](https://github.com/igalata/Bubble-Picker/files/923043/Archive.2.zip)

[2017-04-17 08:28] think-twice-code-once opened #14 "Can not show bubble picker after finishing a background task."
Hi Irina,
Thank you so much for your efforts to build this library.
Basically, it works fine if I init and show it in one main thread:

[code]

[code]

**But it's not working at all if I implement it like that:**

[code]
[code]
I'm sure that it called addItems() method when the main thread is cameback.
Please help.

[2017-04-17 08:37] igalata commented on #14
Hi @think-twice-code-once :)

The first option is to do all the needed work before the screen actually opens. But it's not always acceptable. Try to call `onPause()` and `onResume()` methods of the `BubblePicker` one after another when you're done (`onPause()` is not needed if you've not called `onResume()` before it). If it doesn't work I'll research it more carefully to help you to resolve this

[2017-04-17 08:45] think-twice-code-once commented on #14
oh my god it working now !
I spent a whole day to figure out why but got nothing, even I asked help from my leader :).
How could I didn't try this solution :(.
Thank you so much.
By the way :
"onPause() is not needed if you've not called onResume() before it"
you mean:
"onPause() is not needed if you've not called onResume() **after** it"
right ?

[2017-04-17 09:10] igalata commented on #14
Oh, it's great! :1st_place_medal: I'm happy I could help you :)
No, not exactly. If you do some job in the background, you probably will have two `onResume()` method calls (when your activity actually resumes and when your background job is done), right? So you should make sure, that when you call `onResume()` anywhere your job is done and the view wasn't resumed just before. Otherwise you should

[2017-04-17 09:20] think-twice-code-once commented on #14
Okay I got it, thank you.
Just another thing, is there any way to show all items in center of screen immediately ?

[2017-04-17 09:25] igalata commented on #14
Not right now, but I can easily implement it tonight. I'll notify you when I update the library ;)

[2017-04-17 09:29] think-twice-code-once commented on #14
Glad to hear that, I'm looking forward to hearing from you. Thank you in advance 👍 .

[2017-04-17 17:49] igalata commented on #14
@think-twice-code-once
Check out a new version :)
You can use `centerImmediately` variable of the `BubblePicker` to achieve the effect

[2017-04-18 04:18] think-twice-code-once commented on #14
@igalata thank you very much, it really helped me a lot.
It works fine now. thanks again :).

[2017-04-18 06:04] igalata commented on #14
@think-twice-code-once I'm glad I could help you :)

[2017-04-18 06:04] #14 closed

[2017-04-26 13:03] lingarajsankaravelu opened #16 "Is there any possibility that i can use the clickevent like a normal list click. By setting picker.setMaxSelectedCount(1) and whenever I press the normal Bubble the selected item removes itself and the current selected Item have a overlay on top of it."
Thank you for writing the library

[2017-04-26 13:16] AshuTyagi16 opened #17 "Question"
Is it possible to remove the selected picker item dynamically ?

[2017-04-26 20:42] igalata commented on #16
Hi @lingarajsankaravelu
There is no such functionality right now, it will be implemented a bit later. Thank you for a great idea!

[2017-04-26 20:43] igalata commented on #17
Hi @AshuTyagi16
I'm currently working on this functionality, so it'll be available soon

[2017-04-27 07:52] meethdjain opened #18 "Getting java.lang.NullPointerException: Attempt to invoke virtual method 'void org.jbox2d.dynamics.contacts.Contact.init(org.jbox2d.dynamics.Fixture, org.jbox2d.dynamics.Fixture)' on a null object reference"
Hi,

I'm trying to use the library in my app & I'm getting the following error. Could you review the code & let me know if I'm missing out anything in the code.

Thanks

Lib Version : v 0.2.1
Device : Nexus 6P

Sample Code :

public class MainActivity extends AppCompatActivity {

  BubblePicker mBubblePicker;

  @Override protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(save

[2017-04-27 08:13] igalata commented on #18
Hello @meethdjain
It seems like something went wrong in `World` class. Could you please share the whole stacktrace and some steps to reproduce the bug if possible. Thanks!

[2017-04-27 08:16] meethdjain commented on #18
Sure @igalata

Crash happens on launching the activity.

Stacktrace :

04-27 13:19:30.865 12781-12833/com.example.bubblepicker
E/AndroidRuntime: FATAL EXCEPTION: GLThread 189
                                                                                                     Process: com.example.bubblepicker , PID: 12781

[2017-04-27 08:19] igalata commented on #18
@meethdjain What version of the library do you use? It seems like it's not the latest one

[2017-04-27 08:23] meethdjain commented on #18
I'm using v0.2.1.

Looks like there's an issue with using the library in my existing project.
Tried out the library in a new project, works fine :)

[2017-04-27 08:25] igalata commented on #18
Oh it's great, I was going to create an issue in jbox2d repo :)

[2017-04-27 08:25] #18 closed

[2017-04-27 22:39] FlorentAnders opened #19 "Make the view refresh its items"
In my app, adding items seems to be too late for the BubblePicker to show them up before recreating, how can I force BubblePicker to refresh without restarting my activity?

Greetings!

[2017-04-28 08:01] igalata commented on #19
Hello @FlorentAnders :)
Try to call `picker.onPause()` and `picker.onResume()` methods one after another when your data is ready. It should work out

[2017-04-28 11:45] FlorentAnders commented on #19
I had already tried that but it hasn't worked again now. The new items appear when the device orientation changes. recreate() didn't work either.

[2017-04-28 21:21] FlorentAnders commented on #19
My current solution is to fully recreate the application after 2,5 seconds. I think this will do for the moment!

[2017-04-28 21:21] #19 closed

[2017-04-29 12:40] Ruturajraval opened #20 "NullPointerException while adding images, colors in the view"
Hello @igalata ,

I have used bubble picker api and I coded as given below.

[code]

and here there is

in

this line!

Any solution?

Thank you.

[2017-04-29 13:43] Ruturajraval commented on #20
Problem solved by,

`ContextCompat.getDrawable(ActivityName.this, images.getResourceId(i, 0)),`

[2017-04-29 13:44] #20 closed

[2017-05-01 08:08] truth-seeker0 opened #24 "java.lang.OutOfMemoryError"
I'm trying to run an example.
Example from your description does not work.
I changed the example to:
picker.setItems(new ArrayList<PickerItem>() {{
            for (int i = 0; i < titles.length; ++i) {
                add(new PickerItem(titles[i],
                        ContextCompat.getDrawable(MainActivity.this, images.getResourceId(i, 0)),
                        true,

[2017-05-01 08:09] igalata commented on #24
Hi @truth-seeker0
Your images size could a reason of this issue. Aren't they too large?

[2017-05-01 08:13] truth-seeker0 commented on #24
For example, I use your pictures - countries.
Is there a need to reduce them?

[2017-05-02 09:58] pravingaikwad123 opened #25 "Unable to add new bubble to the existing ones and update the UI accordingly"
Firstly, Thanks for this library. Its very usefull.

I want to add new bubbles to the existing ones. Is it possible to do so ? If yes, then how to do it.

[2017-05-03 05:34] igalata commented on #25
Hi @pravingaikwad123
Thanks! There is no such feature now, but it will be implemented soon

[2017-05-03 09:42] dainhan90 opened #26 "I can't scroll when add many items"
I can't scroll left/right when add many items

[2017-05-03 09:44] igalata commented on #26
Hi @dainhan90
For now it's not possible, I'll think about the way to implement this functionality. Thanks!

[2017-05-03 10:08] thanhlh90it commented on #26
Ok, Thank. This's amazing lib!

[2017-05-06 16:28] ScienciaWilson opened #27 "The library isn't working!"
I really appreciate the effort that you have put into this library and how extravagantly beautiful it is but..

Whenever I try to use the library, it keeps on giving me the error message after the add statement...

PickerItem() in PickerItem cannot be applied to:
Expected Parameters:
Actual Arguments:

I am coding in Java and this is my source code...

`    final String[] titles = getResources().g

[2017-05-06 16:30] igalata commented on #27
Provide me with more details please

[2017-05-06 16:37] ScienciaWilson commented on #27
I have updated the info

[2017-05-06 16:57] ScienciaWilson opened #28 "Please, the library Isn't Working!"
I really appreciate the effort that you have put into this library and how extravagantly beautiful it is but..

Whenever I try to use the library, it keeps on giving me the error message after the add statement...

PickerItem() in PickerItem cannot be applied to:
Expected Parameters:
Actual Arguments:

I am coding in Java and this is my source code...

` final String[] titles = getResources().getS

[2017-05-06 19:50] igalata commented on #27
I'm checking your code right now. It seems to be ok except for the missing `);` symbols at the end of the `add()` function call. Could you check it?

[2017-05-07 10:08] #28 closed

[2017-05-08 07:49] think-twice-code-once commented on #25
Does it need long time to implement this feature ? I really appreciate if you implement it soon :(. Or any trick ? I tried to clear the list and add all new items but it doesn't work.

[2017-05-09 09:27] lingarajsankaravelu commented on #27
@ScienciaWilson . I have tried the library with java as well. Here is the repo , where you can refer your code with [https://github.com/lingarajsankaravelu/MyApplication](url)

[2017-05-11 07:45] #10 closed

[2017-05-15 05:48] Mercidez opened #29 "lateinit property items has not been initialized"
I'm not use kotlin project, I use java

I try to use this library but error when startActivity

"lateinit property items has not been initialized"

[2017-05-18 19:12] tehfonsi commented on #25
This feature would be really nice, I guess most of the time you want to add bubbles as you receive them with an API call!

[2017-05-18 19:54] igalata commented on #25
The temporary solution is described here #14
I have no much time to work on this library regularly, so the updates appear not really often. But of course the functionality is needed and will be implemented soon :)

[2017-05-18 19:56] igalata commented on #29
Hi @Mercidez
Does this exception appears in the sample app? Otherwise could you please share your code?

[2017-05-20 18:45] FlorentAnders opened #30 "Weird bug on Nexus 7"
Not a OS issue, happens on 7.1 as on 4.4 on Nexus 7...

https://drive.google.com/open?id=0B7PIyoRznmeualRwSHJIcmJMZVE

Any idea where this might come from? Not happening on phones.

[2017-05-20 18:54] igalata commented on #30
Could you please share your activity/fragment code? Where do you pass the data to the picker? Seems like something went wrong with textures, but it's weird that only Nexus 7 devices are affected

[2017-05-20 18:57] FlorentAnders commented on #30
Maybe tablets at all are affected...

final TypedArray colors = getResources().obtainTypedArray(R.array.colors);
        imageView.setImageBitmap(bitmap);
        final Drawable topStoriesImage = imageView.getDrawable();

        picker.getItems().add(index, new PickerItem(name,
                null, true, getResources().getColor(R.color.light_accent_color), new BubbleGradient(colors.getColor((ind

[2017-05-20 19:11] igalata commented on #30
I'll try to reproduce this issue on a emulator to fix it. Could you also please share the code where you're downloading the image?

[2017-05-20 19:14] FlorentAnders commented on #30
loadTarget(TopStoriesLayout, 0, getResources().getString(R.string.google_news_top_stories), "http://i.imgur.com/EZE7Lce.jpg");

       private void loadTarget(final ImageView imageView, final int index, final String title, String url){
        Target target = new Target() {
            @Override
            public void onBitmapLoaded(Bitmap bitmap, Picasso.LoadedFrom from) {
                bitmap

[2017-05-20 19:15] igalata commented on #30
Ok, thanks. I'll check it now

[2017-05-20 19:39] tehfonsi commented on #25
Thanks for your response! The temporary solution only works if you load items once, my case is to show some items on start and then add more items later. Is there a temporary solution for this or can you guide me in the right direction?

[2017-05-21 02:46] AKILLIMUSTAFA opened #31 "About method setItems"
Did the parameters change? I'm getting an error.

![issue](https://cloud.githubusercontent.com/assets/11073644/26280752/cefc18b2-3de8-11e7-8684-c75c9d12abe1.png)

[2017-05-21 08:17] igalata commented on #30
@FlorentAnders
I have some thoughts about this issue. Can it be connected with the image size? If it's not downloaded yet, the texture will not be ready. Could you check the animation with smaller image?
Also do you call `picker.onPause()` and `picker.onResume()` after the image is ready? It's also important.
Also I think it's better to pass the items to the picker after the image is downloaded.

[2017-05-21 08:22] igalata commented on #25
No, I think I need to implement this feature in such way that if you add more bubbles, they will just appear near the others without animation interruption. I'll start working on it

[2017-05-21 08:28] igalata commented on #31
Hi, @AKILLIMUSTAFA
The amount of the parameters has increased. Try to pass `null` and `false` for the `icon` and `iconOnTop` parameters respectively. In the next version it will be possible to setup the picker using adapter, so it'd much easier

[2017-05-21 09:21] FlorentAnders commented on #30
I'm caching the images before even opening the activity that requires these. As it is working on every device except this Nexus, I can't really imagine that is the cause... Calling onPause and onResume after the images are loaded could be something I could try, good idea.

[2017-05-21 09:26] FlorentAnders commented on #30
That didn't help. Changing the orientation neither, reloading the activity a second time where the icons should be loaded didn't help either.

[2017-05-21 09:38] igalata commented on #30
Seems like I've found something. Please, take a look at [this answer](http://stackoverflow.com/a/16093658) on stackoverflow. Some devices (like Nexus 7) doesn't support non-power of two textures. The size of your texture is 800x494, while it should be e.g. 1024x512 (2^10x2^9). If it works it'll be the most weird issue I've ever seen :D

[2017-05-21 09:40] FlorentAnders commented on #30
What should I do exactly? Haven't really understood it from the answer, sorry:D

[2017-05-21 09:43] igalata commented on #30
Sorry, it's not about the image size, it's about the texture size. So the changes should be done on my side. For now the texture size is hardcoded to 300, I need to change it to the power of 2 (256 or 512). And it can be the solution

[2017-05-21 09:50] igalata commented on #30
@FlorentAnders try the v0.2.3 version out

[2017-05-21 09:51] FlorentAnders commented on #30
Okay, downloading it now.

[2017-05-21 09:52] FlorentAnders commented on #30
May I know the changelogs of 0.2.2 and 0.2.3?:)

[2017-05-21 09:56] FlorentAnders commented on #30
Yes, working now, lol.

[2017-05-21 09:56] #30 closed

[2017-05-21 10:01] igalata commented on #6
@ahmedpamin Try the v0.2.3 version out. Eventually I've fixed the black bubbles issue 🎉

[2017-05-21 10:09] #6 closed

[2017-05-21 10:09] #27 closed

[2017-05-21 18:15] #31 closed

[2017-05-22 08:54] tehfonsi commented on #25
Great, thank you! Looking forward to it!

[2017-05-22 12:57] ScienciaWilson commented on #27
Thankyou! It is working now.

On Sun, May 21, 2017 at 3:09 AM, Irina Galata <notifications@github.com>
wrote:

[2017-05-22 13:06] davidsaraiv opened #32 "Java example not working"
Hi, I came across with your work the last weekend, and I'm testing it on a new application I'm developing, when I tried your java code to create the picker Items it was not compiling because the constructor you were using does not exists...I was able to change it using the constructor PickerItem(Title, Drawable, iconOnTop, Color) but I came across with another problem, the title does not appear, I

[2017-05-22 16:23] igalata commented on #32
Hi @davidsaraiv
Seems like it's a bug, I'll check it right now. Thanks!

[2017-05-22 16:48] igalata commented on #32
try this snippet out

[code]

In Java it's more complicated to use this constructor without named arguments. I plan to update the library to make it possible to setup the picker using adapter tonight. It's much more convenient.

[2017-05-22 16:49] davidsaraiva commented on #32
Thank you, gonna try later ill update my results

[2017-05-22 18:41] igalata commented on #32
@davidsaraiv try the new version (v0.2.4) out. You can now setup the picker using an adapter. Also the properties of the `PickerItem` have setters now. For the usage example take a look at the updated readme

[2017-05-22 18:41] #32 closed

[2017-05-24 00:56] AKILLIMUSTAFA opened #34 "Java Errors"
When titles Array has 1 element, I take this error:

![ashampoo_snap_2017 05 24_03h46m55s_003_](https://cloud.githubusercontent.com/assets/11073644/26382430/bdf75fc4-4034-11e7-8556-a99c4b4732f6.png)

When titles Array has 16 elements, I take this error:

![ashampoo_snap_2017 05 24_03h49m31s_005_](https://cloud.githubusercontent.com/assets/11073644/26382434/cfa52210-4034-11e7-81df-1a3ed1e59336.png)

[2017-05-24 04:29] igalata commented on #34
@AKILLIMUSTAFA
Thank you for your report! I'll investigate. Does this issue appear on the previous version?

[2017-05-24 09:44] Ruturajraval opened #35 "I'm not able to see the bubble title!"
Hello,

I have used below mentioned code, yet I am not able to see title over bubbles.

[code]

Thanks.

Please resolve this issue for me. Means a lot!

[2017-05-24 09:56] Ruturajraval commented on #35
I am able to get images on bubbles and even colour backgrounds from the array but not the titles!

[2017-05-24 11:53] igalata commented on #35
Hi @Ruturajraval
You need to specify text color to make the title visible

[2017-05-24 12:59] Ruturajraval commented on #35
Hi,

I have defined

[code]

and then I wrote

[code]

yet I am not able to get titles on bubbles.

[2017-05-24 13:05] igalata commented on #35
I mean a picker item text color, not of the TextView on the screen. Please take a look at the example in the readme

[2017-05-24 13:32] Ruturajraval commented on #35
Hello,

So, I added

[code]

but when bubble is selected, that particular bubble disappears and title and images becomes gray.

TITLE IS VISIBLE NOW.

[2017-05-24 15:35] Ruturajraval commented on #35
Finally I did

[code]

and now it's done!

Thank you @igalata for amazing API and quick solution! Cheers!

[2017-05-24 15:35] #35 closed

[2017-05-24 17:13] AKILLIMUSTAFA commented on #34
You're welcome. Previous versions work fine. I take this issues from v0.2.4.

[2017-05-26 13:50] amaanatif opened #36 "Unable to customize the size of specific bubble"
Hi, Igalata
I am facing some problem in customising the size of specific bubble.
I am sharing the image of bubble that i want to achieve in my app with the help of your superb library.
And one more issue is that i am unable to set the border color on bubble.

Thanks
![screenshot](https://cloud.githubusercontent.com/assets/22891321/26497172/1166557e-4248-11e7-8474-b8fab1c624c2.jpg)

[2017-05-26 23:34] davidsaraiva opened #37 "Simulate selection"
Hi, I've used your lib to create a gift app for my wife... and I'm trying to select all bubbles with 1 click is that possible? Thank you.

[2017-05-27 08:00] igalata commented on #37
Hi @davidsaraiva
There is no such functionality right now, but I'm working on dynamic change of bubbles state, so it'll be possible soon

[2017-05-27 08:01] igalata commented on #36
Hi @amaanatif
It's great idea, thanks! I'll think of the way to implement it

[2017-05-29 00:28] lanrehnics commented on #10
Awesome library but really need to be able to speed it up.. kinda too slow..

[2017-05-30 09:13] Tejas-narola commented on #26
@dainhan90
Have any update for this issue?

[2017-05-30 09:15] nayanabhoj commented on #16
How to set any one Bubble selected by default??

[2017-05-31 06:59] banaszeknorbert commented on #26
Hello, I am also interested. I have over 30 items, moving them is really very difficult.

[2017-06-02 12:49] amaanatif opened #38 "Question"
Hi,
How to refresh the bubble picker...\
i am unable to refresh the adapter

[2017-06-03 07:45] lokeshdesai403 commented on #38
@igalata  Is it possible to refresh this bubbleview?
i want to divide bubbles in category
example:
Category list: Hotel,Food etc.
if i click on hotel i want to show only hotel list bubble...if i click on Food i want to show only food list bubble...Can this possible?

[2017-06-05 09:38] newdolphintime opened #39 "In java project the Bubble come in screen is to late when i get title for android sqllite"
Your project is so beautyful,amazing!  but when i set adapter in  Picker use List<String> from sqllite to set picker's title it's very solw, so i have a question ,can this view set title from sqllite? Thank you !

[2017-06-11 19:52] RationalRank commented on #38
Hi,
I also need to refresh the BubblePicker view.
@igalata  @amaanatif  Is to possible to deselect a selected PickerItem programmatically?
Is it achieved using setSelected() method? I tried using it. But it didn't work.

[2017-06-12 09:42] amaanatif commented on #38
Hi,
@sranjith096
You can select or deselect the pickeritem at the time of setting the adapter
  @NotNull
        @Override
        public PickerItem getItem(int position) {

            PickerItem item = new PickerItem();
            title = gInstance.TAGS.get(position).get("tag");
            item.setTitle(title);

//Here you select or deselect the PickerItem.....True for select and false for Des

[2017-06-12 14:53] dbof10 commented on #29
1. I hit the same issue. Log
[code]

2. BTW, [Feature request] Is there any way to load image from network?

[2017-06-12 16:01] RationalRank commented on #38
Thanks for the reply @amaanatif .
In my case, I don't want it to set selected/deselected initially while setting up the adapter. I had to deselect the selected item when I receive at the `BroadcastReceiver` . I want to do something similar to this:

[code]
Is it possible to deselect the selectedItem programatically at anytime in the activity?

[2017-06-13 10:12] amaanatif commented on #38
Hi @sranjith096
firstly use the update version of this library "dependencies {
	compile 'com.github.igalata:Bubble-Picker:v0.2.4'
}"
And from my best knowledge you can set the pickerItem only at the time of setting the adapter...
I think it is not possible to select/deselct the pickeritem at  broadcastReceiver

[2017-06-26 06:29] Kadkad195 commented on #26
I found a solution for this:
in BubblePicker.kt, on fun onTouchEvent change this line
renderer.swipe(previousX - event.x, previousY - event.y)
into this
renderer.swipe((previousX - event.x) * 4, (previousY - event.y) * 4)
This will make bubble picker move faster. It works for me.
Hope it help

[2017-06-26 06:33] thanhlh90it commented on #26
Thank @Kadkad195 I will try!

[2017-06-29 20:23] x26xbb commented on #36
Hi @igalata,

I'm looking for this functionality as well, I saw your PickerItem have different components inside, which could contain the size for each bubble. Is there a progress on this enhancement.
Thanks in advance for this project, it is amazing.

Regards,
Kevin V.

[2017-07-03 09:35] Shajeel-Afzal opened #40 "Not able to include in the project as gradle dependency"
Hi,

I am getting Failed to resolve error while including the gradle dependency in my project.
[code]

Can you please tell me the possible error?

[2017-07-03 09:42] Shajeel-Afzal commented on #40
Sorry, I forgot to include `maven { url "https://jitpack.io" }` that is why I was not able to include the library in the project.

[2017-07-03 09:42] #40 closed

[2017-07-04 19:59] stathiskaps commented on #29
Hello. Have you by any chance figured out the solution? Cause actually i am facing the same problem right now.

[2017-07-04 20:21] stathiskaps commented on #29
To be more precise this is the code (i believe it is the way it should be)

![2017-07-04_23-19-19](https://user-images.githubusercontent.com/11651333/27842084-4e49828c-610f-11e7-987d-466b4d8a19f8.png)

and this is the error

![2017-07-04_23-19-44](https://user-images.githubusercontent.com/11651333/27842101-76ce7c26-610f-11e7-83fd-f6cc25c96b0f.png)

[2017-07-04 20:24] CHRISPASP95 commented on #29
I have the exactly the same problem

[2017-07-04 21:18] stathiskaps commented on #29
I got many errors in GLSurfaceView class.
Any ideas that could help?

![2017-07-05_00-10-44](https://user-images.githubusercontent.com/11651333/27842942-4d7f2098-6117-11e7-9c60-277969812f3c.png)
![2017-07-05_00-15-03](https://user-images.githubusercontent.com/11651333/27842946-50a60570-6117-11e7-8140-7630cef9f502.png)
![2017-07-05_00-15-13](https://user-images.githubusercontent.com/11651333/278429

[2017-07-12 08:20] Yazdani1 commented on #14
hello..i want to pass intent for going next activity.here anyone can tell me how can i pass intent ,when i select bubble option i want to add intent.is it possible.thanks

[2017-07-20 10:05] gaurav90jain opened #41 "Facing Blank screen Issue"
Can we mange the speed of bubble because when I am open my activity screen goes blank after 3 to 5 minutes bubbles moves in center.

Or can we centralized the bubble when i am opening my activity?

[2017-07-27 05:58] arungoyal opened #42 "Please explain this issue"
Process: com.multitv.yuv, PID: 32613
                                                                kotlin.UninitializedPropertyAccessException: lateinit property items has not been initialized
                                                                    at com.igalata.bubblepicker.rendering.PickerRenderer.initialize(PickerRenderer.kt:79)

[2017-07-27 09:31] maroof-mindcrewtech opened #43 "Color to bubbles image"
Hi, Can we replace colors with drawable images. I have a requirement to show bubbles not gradient colors.

[2017-08-10 16:21] anas-ambri commented on #18
@meethdjain Running into the same issue. Did you manage to figure out what the problem was?
I have a feeling it has something to do with my proguard configuration.

[2017-08-17 19:35] amixpal opened #45 "I tried to add a custom animation but couldn't able to do it"
Thanks for building this library. It's an Amazing :)

I am trying to add the custom animation to the picker in Java code but it's showing no effect. I added to fade in animation but the bubbles are always come from the left and right position (default animation).

I am using ` picker.setAnimation(animFadein);` where as `animFadeIn` is a custom animation.

[2017-08-17 19:38] amixpal commented on #45
I like the default animation but it's a little bit slow. Is there any functionality to speed up the animation?  :)

[2017-08-26 21:17] hussi1 commented on #42
did you find solution for this ?

[2017-08-29 21:25] amixpal commented on #42
I am also facing the same problem.

[2017-09-07 09:05] Margarita91 commented on #26
Any updates on this issue? The library is amazing, thank you very much!

[2017-09-08 07:09] Ramaraju1992 opened #46 "Add and Remove Bubbles with UI Actions"
hey there, i want to remove(delete) bubble from list when i click on it..... and i want to add a new Bubble on Button Click Action........... i tried

in OnBubbeSeected in Listener..... but its not working to remove from list................  and in listener OnBubbleSelected method how to get the selected item position????

[2017-09-08 22:54] navidre opened #47 "Getting OpenGL error, while running the sample app in GitHub"
Thanks for developing the package. I get the following error:
![screen shot 2017-09-08 at 4 53 53 pm](https://user-images.githubusercontent.com/1976093/30233946-5872b334-94b6-11e7-8ed6-6f43ea3236f1.png)

[2017-09-08 22:56] navidre commented on #47
Similar problem happening in this project: https://github.com/eschao/android-PageFlip/issues/5

[2017-11-03 03:41] piffarettig commented on #24
Same issue happeing here. Probably because images are huge. Tried something like:

[code]
And it worked. So it works with fewer images. Probably the workaround for this is to compress the images

[2017-11-07 09:42] deepankdwivedi opened #49 "java.lang.ClassCastException: android.graphics.drawable.VectorDrawable cannot be cast to android.graphics.drawable.BitmapDrawable"
Process: com.codifier.androidbubbleselector, PID: 14884
                                                                                    java.lang.ClassCastException: android.graphics.drawable.VectorDrawable cannot be cast to android.graphics.drawable.BitmapDrawable
                                                                                        at com.igalata.bubblepicker.rendering.Item

[2017-11-16 19:21] sailor002 opened #50 "Can't see picker items on the picker"
Hi, thank you for creating this great library first of all :)

My problem is: when I use the Bubble Picker from XML (i.e. first creating in XML, then getting a referance to it in java code) everything works fine. But when I try to create the Bubble Picker in java and put it in a layout  programatically, I face a problem. The bubble picker is displayed properly in the layout (with the background),

[2017-11-27 23:18] ArsalRaza commented on #29
I am also getting this issue, any help!!

[2017-11-28 01:04] ArsalRaza commented on #42
i am also facing this issue!!

[2017-12-05 05:31] mradzinski commented on #47
`GL error 0x500` means `GL_INVALID_ENUM`. It's thrown when an enumeration parameter is not a legal enumeration for that function. **This is thrown only for local problems**; if the spec allows the enumeration in certain circumstances, where other parameters or state dictate those circumstances, then GL_INVALID_OPERATION is the result instead.

In other words: This means that your device is the cul

[2017-12-08 06:13] sujeet-kumar-mehta commented on #29
Please check if your array is non zero so that the bubblepicker can initialize and adapter get set as otherwise, the PickerRenderer.initialize(PickerRenderer) doesn't get initialized and this issue occur

[2017-12-10 07:33] ghost commented on #43
` item.setIcon(getResources().getDrawable(R.drawable.YOUR_IMAGE));`

I set background image to bubbles with this method and it works fine.

[2017-12-16 07:41] #49 closed

[2017-12-27 21:27] maxi182 commented on #41
Hi , @gaurav90jain have you been able to fix this? I am facing the same issue. Bubbles render really slow

[2017-12-29 12:05] iamjitendrasinh opened #51 "Please help me i am getting this error"
kotlin.UninitializedPropertyAccessException: lateinit property items has not been initialized
                                                       at com.igalata.bubblepicker.rendering.PickerRenderer.initialize(PickerRenderer.kt:79)
                                                       at com.igalata.bubblepicker.rendering.PickerRenderer.onSurfaceChanged(PickerRenderer.kt:67)

[2017-12-29 13:06] ghost commented on #51
I am also getting this error :(

[2017-12-30 21:10] ismailtosun commented on #42
same problem

[2017-12-30 21:53] ismailtosun opened #52 "Exception"
I'm getting this exception please help !

[2017-12-31 00:00] ismailtosun opened #53 "is there a way to load image from network ?"

[2018-01-03 12:52] #24 closed

[2018-01-06 11:23] HovhannisyanKaro opened #54 "Can not include your lib to my project"
Error:Failed to resolve: annotationProcessor
<a href="openFile:D:/My Project/HK/app/build.gradle">Open File</a>

Error:(34, 13) Failed to resolve: com.github.igalata:Bubble-Picker:v0.2.4
<a href="openFile:D:/My Project/HK/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2018-01-08 03:47] allenyulun opened #55 "dynamic add items"
in pickerRender:
     fun addItem(pickerItem: PickerItem) {
        synchronized(this) {
            items.add(pickerItem)
            var newBody = Engine.buildBodiesWithOne(scaleX, scaleY)
            circles.add(Item(pickerItem, newBody))
            textureIds = textureIds?.copyOf(circles.size * 2)

            vertices = vertices?.copyOf(circles.size * 8)
            textureVertices = texture

[2018-01-08 03:50] allenymt commented on #55
when i  press home ，then into app，it's ok.

[2018-01-08 04:17] allenymt commented on #55
i found it ,beacuse of diff thread

todo like this:

 override fun onDrawFrame(gl: GL10?) {
        if (hasNewItems){
            var newBody = Engine.buildBodiesWithOne(scaleX, scaleY)
            circles.add(Item(items.last(), newBody))
            textureIds = textureIds?.copyOf(circles.size * 2)

            vertices = vertices?.copyOf(circles.size * 8)
            textureVertices = textureVer

[2018-01-15 10:17] ismailtosun commented on #10
so slow

[2018-01-15 13:51] ismailtosun commented on #39
+1

[2018-01-15 13:53] ismailtosun commented on #29
declare array before main instance
this solve my problem

[2018-01-17 11:39] rosanlal26 commented on #29
It is very sad that the developer is not addressing the issue many of us are facing :(

[2018-01-17 11:40] rosanlal26 commented on #29
@ismailtosun Could you paste the code as it should be according to you?

[2018-01-17 11:42] rosanlal26 commented on #29
Here is my code: @ismailtosun @igalata Kindly help

     public class BubblePicker extends AppCompatActivity {

    com.igalata.bubblepicker.rendering.BubblePicker picker;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_bubble_picker);
        final String[] titles = getResources().getStrin

[2018-01-19 21:58] ismailtosun opened #56 "how to know selected bubble position ?"

[2018-02-10 19:35] parmarravi opened #57 "Navigation bar is overlap with the bubble view?"
I am having a strange issue  where my navigation bar is getting overlap with the bubble view .How to fix it ?

![screenshot_20180211-005356](https://user-images.githubusercontent.com/7616089/36065928-5105164c-0ec7-11e8-8e9f-1049f09c3320.png)

[2018-02-11 17:41] parmarravi commented on #17
@AshuTyagi16 did you find out the solution?

[2018-02-11 18:22] parmarravi opened #58 "How to Select and deselect any items pragmatically?"
Hello,
Thank you for library .Please add some features asap it would be awesome to include this feature in the production app.
I have a Feature in which when i select the second item in the bubble view ,the focus of previous item should get deselected  . so at a time only one item will get on.
If the user presses the second item the focus will get shifted to the next item.
Let me know how can i ac

[2018-02-12 02:56] AshuTyagi16 commented on #17
@parmarravi It is not possible yet. Hope we'll get this feature in next release.

[2018-02-21 12:19] shriharsha-bhagwat commented on #25
Any updates on this issues?

[2018-02-21 13:01] martinflorek commented on #17
@igalata anything new regarding the dynamic adding and removal of items? thank you.

[2018-02-21 13:41] android-bash opened #59 "Sort the items so that it will be displayed in the order of sort"
The library is great and i would like to use it in my application. But i have one requirement where in i need the items to be placed in the sort order. Is it possible?

[2018-02-22 06:20] shriharsha-bhagwat commented on #34
But i have one requirement where in i need the items to be placed in the sort order. Is it possible?

[2018-02-22 06:20] shriharsha-bhagwat commented on #32
I have one requirement where in i need the items to be placed in the sort order. Is it possible?

[2018-02-22 06:21] shriharsha-bhagwat commented on #10
I have one requirement where in i need the items to be placed in the sort order. Is it possible?

[2018-02-23 03:15] shriharsha-bhagwat commented on #36
@x26xbb @igalata  HI, Any progress in this? Any solution that could help us to change the size of specific bubble before we draw?

[2018-02-24 10:39] Surjeet-Rathore commented on #41
Hi, Anybody shorted out this issue? Please let me know. Thanks

[2018-02-26 09:39] nickyk2407 commented on #38
@sranjith096
Hi,
I am also facing same issue. I want to refresh bubbleView on select or deSelect.
Did you find any solution for this?

[2018-02-26 13:46] nickyk2407 opened #60 "Customize bubble size"
@igalata
Thanks for this library. It is very useful.
I have few queries:

1. Could help us to change the size of specific bubble before we draw?
2. Refresh the bubble view after select and deSelect call.
  For ex: change bubble text size or background color on bubble select or deSelect

[2018-02-26 15:07] RationalRank commented on #38
No @nickyk2407 . I didn't find a solution for it.

[2018-02-26 15:14] nickyk2407 commented on #38
@sranjith096

Thank you for your prompt response.
I tried below code. Check if this is solving your problem. This refreshes the bubble view.

picker.setListener(new BubblePickerListener() {
            @Override
            public void onBubbleSelected(@NotNull PickerItem pickerItem) {
                picker.setItems(newPickerItems);
                picker.onPause();
                picker.onResum

[2018-03-27 10:47] aniruth commented on #6
I get this error when proguard enabled.

java.lang.NullPointerException
                                                     at org.a.d.l.a(World.java:198)
                                                     at org.a.d.d.a(ContactManager.java:108)
                                                     at org.a.b.a.a.a(BroadPhase.java:187)
                                                     at org.

[2018-04-12 13:30] omhack commented on #12
Hi. Could you point me to the duplicated issue please? I’m facing the same problem.
Thanks

[2018-04-12 21:54] omhack opened #61 "sl4j error on Build"
Hello, I'm getting this error when I try to add your lib to my project. Any possible reason?
Thanks in advance

`Error:Note: /Users/omhack/Dropbox/02_Proyectos/YellowPepper/bbva-android/androidcabify/src/main/java/com/yellowpepper/androidcabify/EncryptionUtils.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: /Users/omhack/Dropbox/02_Proyectos/Yell

[2018-04-12 23:43] omhack commented on #61
Hello I fixed the issue by adding
-dontwarn org.slf4j.**   to the proguard-rules.pro. just in case anyone has the same issue
Thanks

[2018-04-13 01:04] omhack commented on #18
I'm facing this issue, any news?
Thanks

[2018-04-13 13:30] joelshea commented on #57
I am having the same issue.

[2018-04-16 22:05] Karlheinzniebuhr commented on #29
same issue, any working solutions?

[2018-04-18 17:49] joelshea commented on #57
Just for others having this issue, it's actually a pretty simple fix.  The BubblePicker is actually set specifically to be on top of everything else in the main constructor using `setZOrderOnTop(true)`.  You can change this to `false` and everything will work as expected.

[2018-04-23 10:00] anujkv commented on #29
I am getting error when i write junit testcase:

kotlin.UninitializedPropertyAccessException: lateinit property inventoryService has not been initialized

	at com.e8om.books.junit.svc.InventoryServiceTests.stockGroupListTest(InventoryServicesTest.kt:22)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)

[2018-05-07 06:59] maheswarich commented on #29
Hi All,
            I too got same exception, any working solution found?

[2018-05-08 07:32] maheswarich commented on #50
Hi I too faced same issue, implementing bubble picker in my project fragment classes, but picker items are not shown.Have you found solution?

[2018-05-09 06:17] maheswarich opened #63 "Items not visible on screen"
Hi thank you providing this library, I am implementing bubble picker in my project fragment classes, Project built successfully, but picker Items are not showing on the device fragment screen just white space i am getting. I am getting below message in logcat.

System.out: bubble picker items added...13...true
SurfaceView: updateWindow -- OnPreDrawListener, mHaveFrame = true, this = com.igalata.bu

[2018-05-17 07:13] atiqulalam commented on #14
@igalata @think-twice-code-once

please help me, i want to show bubble after getting API response in background, how to do that ?
@think-twice-code-once
please share your code

[2018-05-17 08:53] chetanya19 opened #64 "How to make select some bubbles when open bubble activity again."

[2018-05-23 05:35] RapoluSaikrishnaRao opened #65 "How to notifydata for Bubble Picker"
how do we get position in onBubbleselected Listener and also how to notify data when array size is changed for bubble pickers.

[2018-06-14 09:05] #64 closed

[2018-06-16 09:37] MilanVucic commented on #53
Did you manage to find a work-around for this? This is exactly what I need. @ismailtosun
@igalata Irina, can you tell me if there's a way to do this?

[2018-06-16 09:39] MilanVucic commented on #58
@parmarravi Did you find a way to do this? I need this right now, I tried many things, but since there's only a getter for selectedItems, I tried clearing that list, setting each item's "isSelected" manually to false, but neither worked. @igalata Can you jump in and guide us on how we could do this?

[2018-06-18 11:34] ibrahimAlii commented on #56
There is a deprecated method called `setItems()` and `getItems()` you can work with them, for example:

[code]

And here is the full listener cycle:

-Implement the BubleListener
`public class BubleAcitvity extends AppCompatActivity implements BubblePickerListener`

- Set it to your current view.
`picker.setListener(this);`

-Get the position:
[code]

Or if you need the selected items only it will

[2018-06-20 11:00] maheswarich commented on #14
Hi how to change bubble size at run time any help its appreciate

[2018-06-24 09:41] MilanVucic commented on #29
I noticed that this happens when your adapter is not set at the time when "onResume" is called. This happens to me too when I try to fetch items from the API and `onResume` gets called earlier than I get them and thus I got it to not crash by setting an empty list for an adapter, but now when I do get the items, they do not get displayed even though adapter's methods do get called e.g. `getItem`.

[2018-06-25 12:31] RapoluSaikrishnaRao commented on #14
Hi i have below two issues.
1) Please tell me,How to change Bubble Picker Size.
2) one more thing is that after getting response from API am showing data on Bubble Pickers(Bubble Picker functionality implemented in my Fragment Class). but main problem here is  that when am clicking particulate bubble am navigating another screen(another Fragment) and coming back main screen(Fragment Class) and doi

[2018-06-27 19:29] ibrahimAlii commented on #53
@ismailtosun  @MilanVucic  You can simply do it using glide or picasso like:

[code]

[2018-06-27 20:32] MilanVucic commented on #53
The only problem with this piece of code is that this is asynchronous while `getItem` is not, and thus it'll just return the item **before** the actual image is set as the icon. I like the idea though.

[2018-06-28 14:30] hendrowijaya96 opened #66 "Set Item is Selected when Starting Activity"
is it possible to set bubblepicker is selected when activity is started?

[2018-06-30 13:15] ibrahimAlii commented on #53
@MilanVucic  Well you can use AysncTask and return `PickerItem` and wait until process finish, but it will block the UI for some time.

Or @igalata  should suggest more effective solution.

[2018-07-17 06:13] SachinSoma opened #67 "How to make Bubbles stay inside the activity window. Method picker.setClipBounds(); is not working"

[2018-07-20 16:38] hantrungkien commented on #66
@hendrowijaya96 please review my lib was developed based on this lib
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:41] hantrungkien commented on #53
@ismailtosun @MilanVucic @ibrahimAlii
please review my lib was developed based on this lib. I fixed this issue
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:42] hantrungkien commented on #51
@iamjitendrasinh @mongkonsrisin
please review my lib was developed based on this lib. I fixed this issue
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:51] hantrungkien commented on #29
@BenzScoutOut @dbof10 @P130 @CHRISPASP95 @MilanVucic @rosanlal26
please review my lib was developed based on this lib. This is a conflict between java and kotlin library and I fixed this issue
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:53] hantrungkien commented on #34
@AKILLIMUSTAFA @android-bash
please review my lib was developed based on this lib. This is a conflict between java and kotlin library and I fixed this issue
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:56] hantrungkien commented on #39
@newdolphintime
please review my lib was developed based on this lib.
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:57] hantrungkien commented on #41
@gaurav90jain
@maxi182
@Surjeet-Rathore
please review my lib was developed based on this lib.
https://github.com/hantrungkien/Bubble-Picker

[2018-07-20 16:57] hantrungkien commented on #42
@arungoyal @hussi1 @amixpal @ArsalRaza @ismailtosun
please review my lib was developed based on this lib. This is a conflict between java and kotlin library and I fixed this issue
https://github.com/hantrungkien/Bubble-Picker

[2018-07-23 09:28] trbasoglu commented on #58
You can use below code. But it need to reload view. @parmarravi @MilanVucic
 @igalata I think set selected should work without using onPause and On Resume but not.
` public void onBubbleSelected(PickerItem pickerItem) {

                if(picker.getSelectedItems().size()>=2)
                {
                    picker.onPause();
                    lastItem.setSelected(false);

[2018-07-27 10:07] daiwenbo88 opened #68 "java code library"
Do you have a copy of it Java code library?

[2018-07-29 13:10] MilanVucic commented on #58
Did you test this? @trbasoglu  I think I tried something similar to no avail. `setSelected` on items that I get from `getSelectedItems` didn't seem to change much. It would be really cool if this worked. I'll give it a go asap.

[2018-08-07 13:21] daiwenbo88 commented on #51
我知道这么解决：
[code]

[2018-08-11 15:14] va1046 opened #69 "Bubble-Picker Not working in Fragments."
Bubble picker works in Activity but doesn't work in Fragments.

[2018-08-22 05:20] DrewGregory commented on #65
To those who may find this interesting...
it seems to me that you can reinitialize the rendering by resetting its visibility. Just try `picker.setVisibility(View.GONE);` followed by `picker.setVisibility(View.VISIBLE);`

The developer suggested calling `picker.onPause()` followed by `picker.onResume()`, but I did not achieve desired behavior with those methods.

[2018-08-22 05:20] DrewGregory commented on #19
To those who may find this interesting...
it seems to me that you can reinitialize the rendering by resetting its visibility. Just try `picker.setVisibility(View.GONE);` followed by `picker.setVisibility(View.VISIBLE);`

[2018-09-10 10:32] LorenzoDeM commented on #18
Just add, in your proguard file:
-keep class com.igalata.bubblepicker{ * ;}
-keep class org.jbox2d.**{ * ;}

[2018-09-14 11:53] ShaifaliP commented on #38
Hello All,
I also want to refresh the item on  click and i tired you all solutions but did not get the success

 in this line i am unable to find **setItems**

@sranjith096 @amaanatif @igalata  please help me

[2018-10-15 11:47] yoonusc opened #70 "how set data from api ?"

[2018-10-16 05:38] yoonusc commented on #70
use  view.Gone and view.Visible for refreshing

[2018-10-16 05:38] #70 closed

[2018-10-19 13:41] AlvaroFalcon opened #71 "Bubble picker to Bitmap"
Hi, I was wondering if I can make a custom VIew that extends BubblePicker, set the adapter on the constructor, instantiate it and after that transform the view to a Bitmap, for future use.

Is this possible, and how? Thanks.

[2018-12-24 03:12] pingfangx commented on #18
I got the same issue.
## The solution
Add the rule to your proguard rules file.

    -keepclassmembers class * extends org.jbox2d.dynamics.contacts.Contact{
        public <init>(...);
    }

It will keep constructors of any class wich extends org.jbox2d.dynamics.contacts.Contact.

## The reason
When use ProGuard

It will remove the constructor of org.jbox2d.dynamics.contacts.CircleContact.
You ca

[2019-01-25 03:49] SocheaRith opened #72 "How to manage the PickerItem not to be overlap on horizontal. I need PickerItem on Vertical Scroll how?"

[2019-01-25 03:50] Thearith1309 commented on #72
![screenshot_1548388217](https://user-images.githubusercontent.com/47019364/51724248-0a7eb900-208f-11e9-9b88-2b8d80190fa6.png)

[2019-01-25 03:50] Thearith1309 commented on #72
I don't need like this

[2019-01-28 16:19] Azinnilchi commented on #56
hi, thanks for your code,I used your way to get the position of my array, but I'm worried about deprecation of these method.
do you know any better way which is not deprecated?! thank you

[2019-03-15 18:01] zhaonian commented on #10
Any update on this?

[2019-04-03 08:30] VladyslavVasylenko1996 commented on #66
@hendrowijaya96 item.setSelected(true)

[2019-04-15 10:11] Anshika-Bansal opened #73 "Bubbles are not showing when proguard"
When i'm trying to release build using proguard enable . bubbles are not displaying. I used bubble picker as a library module and use following line in my progurad file.

-keep class com.igalata.bubblepicker.** { *;}
-keepclassmembers class com.igalata.bubblepicker.** { *;}
-keep interface com.igalata.bubblepicker.** { *;}
-dontwarn com.igalata.bubblepicker.**
-keep class org.slf4j.**{ * ;}

[2019-04-25 10:43] marva2013 commented on #36
@x26xbb @igalata HI, Any progress in this? Any solution that could help us to change the size of specific bubble before we draw?

[2019-04-26 07:14] sgupadya opened #74 "Adding drawable image instead of gradient"
Is there an option to add a drawable image instead of gradient color i.e. when bubbles are not selected.

[2019-04-27 08:07] nvcken opened #75 "app store link is dead"

[2019-05-06 23:42] jflavio11 commented on #69
Same issue here :/

[2019-06-18 11:43] chaudharyHema opened #76 "Bubble Picker items not coming back"
when i swipe the picker items from the screen they are going out of the screen and take a lot of time to come back till then blank white screen is there.

Please help me out.

[2019-07-02 14:21] tabish075 commented on #64
have you found a solution, I am getting this error

`android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
        at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:6898)
        at android.view.ViewRootImpl.invalidateChildInParent(ViewRootImpl.java:1083)
        at android.view.ViewGroup.invalidateChild(ViewG

[2019-07-02 14:31] tabish075 opened #77 "On Activity Resume app crashes!"
I am getting this error when i go back to bubble picker activity

`android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
        at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:6898)
        at android.view.ViewRootImpl.invalidateChildInParent(ViewRootImpl.java:1083)
        at android.view.ViewGroup.invalid

[2019-07-09 11:22] D4rracuda commented on #10
Please make it available faster. Really need this

[2019-07-09 12:09] D4rracuda opened #78 "Does not work in HorizontalScrollView"
I found no way to put bubbles in HorizontalScrollView. Please help me if it is possible to do.

[2019-07-10 11:53] D4rracuda opened #79 "Can't set background"
Is it available to make the bubbles move throw a vector drawable?

[2019-07-24 14:39] RajatSingh opened #80 "Swipe Velocity : Bubble taking time to come back to the centre"
@igalata If someone scrolls the bubble to fast it takes a lot of time for the bubble to get back it to the center of the screen

[2019-08-10 11:22] jash0612 opened #81 "Need text below bubble"
How can I place the text to displayed below bubble instead of text comming on bubble?

Please help me out with this.

Something like the one in the image attached.
![UNADJUSTEDNONRAW_thumb_3](https://user-images.githubusercontent.com/17797005/62821217-324aef80-bb8f-11e9-8828-655fb9e27a13.jpg)

[2019-08-23 03:54] dongnh311 commented on #69
Same issue here

[2019-08-28 09:53] DongNHJVS opened #82 "This lib crash when build apk install and run this"
I have add this lib to my project, but i found error when build apk, install and run in driver.
![image](https://user-images.githubusercontent.com/40257252/63845526-46c32080-c9b4-11e9-8c6b-f99bc5ad7c81.png)

Modem : Samsung s10+
Android version : 29 (P)

[2019-08-28 11:30] dongnh311 commented on #82
I fixed this bug, tks for reading

[2019-08-28 11:30] #82 closed

[2019-08-28 15:31] wintermoon9 commented on #25
Any updates? This is definitely needed. 👍

[2019-10-19 03:16] dvlpd opened #83 "Link a button with chosen Bubble"
Hello, Igalata!
Thank you for your library! The question is this: How can I link one selected activity with a button? I need my app to understand what bubble was selected and then move user to another activity.
If anyone else knows you to do so, please be free to answer here :)

P.S. I'm new at coding

[2019-10-19 03:17] nurlan-dzhavadov commented on #83
@igalata

[2019-11-09 20:45] vidvivek commented on #67
is the issue resolved?

[2019-11-22 01:35] nurlan-dzhavadov commented on #58
If you want to go from each bubble to another activity, this one might help
https://stackoverflow.com/questions/58460281/link-a-bubble-in-bubble-picker-with-a-button

[2019-11-22 01:36] nurlan-dzhavadov commented on #83
No more need to answer that, here is the answer)
https://stackoverflow.com/questions/58460281/link-a-bubble-in-bubble-picker-with-a-button

[2020-01-05 18:16] Kavinrajan commented on #29
I am facing this issue, Any solution

kotlin.UninitializedPropertyAccessException: lateinit property viewModelFactory has not been initialized
        at com.kavin.task.landist.country.ui.CountryFragment.onCreateView(CountryFragment.kt:31)
        at androidx.fragment.app.Fragment.performCreateView(Fragment.java:2605) etc.

[2020-03-29 19:48] ingeniousgenius commented on #47
Hey, what's up. I got this issue today, with this library using this emulator:

![Screenshot 2020-03-29 at 20 47 48](https://user-images.githubusercontent.com/6454286/77858963-8da11f00-71fe-11ea-9c76-b8476537f44d.png)

It's a stock pixel 2 emulator with 0 customisation. The bubble picker shows nothing on my screen

[2020-06-17 12:27] GauravCreed opened #84 "Bubblepicker Selection Issue"
Hi @jonathan-caryl

Hey
How can i select only one Item from Bubblepicker item, is that possible, then please help me.

Thanks(_).

[2020-06-27 05:43] GauravCreed commented on #84
Hi @anas-ambri , @LionZXY , @ckcks12

Hey
How can i select only one Item from Bubblepicker item, is that possible, then please help me.

Thanks(_).

[2020-07-27 06:50] Abdurahmanm2020 opened #85 "i can not open the sit"
when i click on the link of the web site I get an error saying

### This site can’t be reached

but why

@igalata

[2020-07-28 12:28] GauravCreed commented on #84
Hi @igalata

If this is possible then please help me.
Thanks (_)

[2020-09-09 05:18] SrikarAndroid opened #86 "Bubble picker item text color"
Hi, can u please help how to change the title text color on clicking on a bubble iam trying to chnage it in picker listener but its not reflecting..
thank you in advance

[2020-10-05 06:38] MrunalDesale commented on #36
Hi @igalata Any update on this?

[2020-11-28 15:01] tuxxon opened #87 "Resolved: Removing items from picker."
Visit https://github.com/tuxxon/Bubble-Picker

[2020-12-01 00:24] tuxxon commented on #87
This gets some bugs when removing a body.

[2020-12-01 00:24] #87 closed

[2020-12-01 01:15] tuxxon commented on #17
I found it is very difficult to implement this feature with jbox2d.

Very difficult to remove bodies from the world in jbox2d. (I mean world.destroyBody()).

Anyone?

[2020-12-03 12:22] tuxxon commented on #17
Refer to https://github.com/tuxxon/Bubble-Picker

[2020-12-27 14:14] shaamuji commented on #84
You can restrict bubble selection with the below code
`picker.setMaxSelectedCount(2);`
Thanks

[2021-02-02 02:46] wangrui460 commented on #86
did you resolve it?

[2021-02-02 02:50] SrikarAndroid commented on #86
No iam unable to change the bubble item text color on clicking the item

On Tue, 2 Feb 2021, 8:16 am wangrui460, <notifications@github.com> wrote:

[2021-03-03 11:51] sezginozgurr opened #88 "Don't open the same page again"
When you enter the page with the balloons, destroy the page.I visit again. requests on the page are received.But the image is not available. What is the problem?

the error is attached

W/libEGL: EGLNativeWindowType 0x7ba0e3b010 disconnect failed
I/QarthLog: [PatchStore] createDisableExceptionQarthFile
    [PatchStore] create disable file for member.kidzjungle.mtek.stb uid is 10575
E/AndroidRuntim

[2021-03-09 06:31] lazy-coder-10 commented on #60
Yes you can customize bubble size for each item with little modification on the library

In Engine.Kt file inside the build function, after the for loop you can add your custom bubbleRadius as I am generating 40..100 random number for each items.

`for (i in 0..bodiesCount - 1) {
    val bubbleRadius = interpolate(0.1f, 0.25f, (40..100).random() / 100f)
    .......................
    ............

[2021-03-11 07:42] lazy-coder-10 commented on #88
Did you find any solution ??

[2021-03-11 07:48] sezginozgurr commented on #88
@rohit6027 Not yet. Have you encountered such a problem?

[2021-03-11 08:02] lazy-coder-10 commented on #88
Yes, App is getting crashed whenever onResumed() called in activity but the sample is not crashing. I don't know where is the issue.

[2021-03-11 08:05] sezginozgurr commented on #88
@rohit6027 I will write when I find the solution. Thanks Give me some time

[2021-03-11 08:07] lazy-coder-10 commented on #88
Great thanks for your help. If you use the below if-case in Engine.kt file then the app is not getting crashed but after that items are very slow to display.

fun clear() {
        borders.forEach { if(world.isLocked) world.destroyBody(it.itemBody) }
        bodies.forEach { if(world.isLocked) world.destroyBody(it.physicalBody) }
        borders.clear()
        bodies.clear()
    }

[2021-03-11 08:17] sezginozgurr commented on #88
aw bro. Thanks. I will try. But borders ? /bodies ?

[2021-03-12 04:24] lazy-coder-10 commented on #88
@sezginozgurr Here is the final workaround code which is working fine for me

don't forget to add onResume() and onPause() with respect to bubble picker inside your activity

Engine.Kt
`  fun clear() {
        world = World(Vec2(0f, 0f), false)
        borders.forEach { if(world.isLocked) world.destroyBody(it.itemBody) }
        bodies.forEach { if(world.isLocked)world.destroyBody(it.physicalBody)

[2021-03-15 03:24] ponnangan commented on #38
Hi @nickyk2407 @sranjith096
The above mention code working? Please explain if it is. I also facing the same issue of not deselect when select another bubble.

[2021-03-17 06:58] sezginozgurr commented on #88
@rohit6027 thank you so much. I solved a big problem thanks to you.

[2021-03-21 07:33] lazy-coder-10 commented on #88
@sezginozgurr I am glad I could help you. You can change this bug status to closed if it is fixed.

[2021-03-21 18:14] #88 closed

[2021-03-21 18:14] sezginozgurr commented on #88
Don't open the same page again fixed

[2021-04-05 05:36] ppreetikaa commented on #77
is it solved? if yes then please guide, I'm having the same issue

[2021-04-05 05:38] ppreetikaa commented on #79
Is it solved? I'm also trying to set a vector drawable as a background, but the app crashes.

[2021-04-21 07:34] KentBryan opened #89 "java.lang.AssertionError in Fragment"
![Bubble-Picker issue](https://user-images.githubusercontent.com/33920792/115514808-1336b780-a2b7-11eb-895f-3d90618174e2.PNG)

[2021-05-15 15:09] anantcodes commented on #89
Issue resolved yet?

[2021-05-15 15:11] anantcodes opened #92 "Bubble speed modification"
Bubble speed needs to be modified for dynamic usage.

[2021-05-15 16:10] KentBryan commented on #89
Yes, it's working now

On Sat, May 15, 2021, 11:09 PM Anant Kanchan ***@***.***>
wrote:

[2021-05-16 04:28] anantcodes commented on #89
Great

[2021-06-14 07:25] joey-kb commented on #89
@KentBryan Could you explain how you fixed this? Im stuck on this issue..

[2021-06-15 12:08] aman-reso commented on #89
When i am going to one activity to Bubble Activity and again doing same Process the app has crashed

[2021-06-15 14:06] KentBryan commented on #89
@joeywittig my solution in crashing issue, is to revise some line of codes under "physics" directory

**physics** -> **Engine** -> **then search the function "clear"**

This is my solution, just replace the code inside that function to this.

[code]

your function "clear" should be like this:

[code]

[2021-06-15 14:06] #89 closed

[2021-07-17 05:53] yoonah5959 opened #93 "exception"
I cloned your git url and run the app.
I get this error when I go back to home screen with back key and click your app again.

2021-07-17 14:46:57.470 18102-18272/com.igalata.bubblepickerdemo E/AndroidRuntime: FATAL EXCEPTION: GLThread 34865
    Process: com.igalata.bubblepickerdemo, PID: 18102
    java.lang.AssertionError
        at org.jbox2d.collision.broadphase.DynamicTree.destroyProxy(Dynamic

[2021-11-23 10:31] aniruddh-deserve opened #94 "IllegalArgumentException while bindTextures"
We are facing intermediate issue in bindTexture

java.lang.IllegalArgumentException: length - offset < n < needed
    at android.opengl.GLES20.glGenTextures(GLES20.java)
    at com.igalata.bubblepicker.rendering.Item.bindTexture(SourceFile:252)
    at com.igalata.bubblepicker.rendering.PickerRenderer.onDrawFrame(SourceFile:95)
    at com.igalata.bubblepicker.rendering.Item.bindTextures
    at com.

[2021-12-16 19:13] IgnaGarcia opened #95 "How to Customize Items?"
Hi, the library is awesome but i need more customization, i need to replicate it:
![image](https://user-images.githubusercontent.com/49423520/146433604-42aaf942-c7cc-4603-8831-de6906430c28.png)

So how i can set random size?
how i can set stroke or drawable default background?

Thats all, thanks

[2022-02-04 14:35] Parth12-1 opened #96 "Cannot run project - SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
I have implemented each part of the library's necessary imports to add this library into my android project.  My gradle syncs, but once I add the xml code into my project, I get the errors (in the images).  I cannot seem to run the code, I don't know if it's because of the time its been since the library has been updated, or something on my side.

<img width="1045" alt="Screen Shot 2022-02-04 at 8

[2022-02-10 18:40] IgnaGarcia commented on #93
same problem

[2022-02-10 19:43] IgnaGarcia opened #97 "On Resume Activity Crash"
if the app goes to background and resume it crash on resume picker.

Code:
[code]

[code]

Exception:
![image](https://user-images.githubusercontent.com/49423520/153484381-e0571c2a-5310-4269-8143-7aa5d2fe0352.png)

im doing something bad? how i fix it?

Thanks!

[2022-02-21 07:37] Varenie commented on #97
I'm not sure that my decision is correct, but it helped me to remove these lines in the Engine file.kt (I downloaded the project from GitHub)
<img width="289" alt="image" src="https://user-images.githubusercontent.com/47522835/154909296-342b2c1a-bf44-4ece-897e-1575b4198ecb.png">

UPD: But this stops removing the balls, which is why they become invisible and interfere with the progress of visible b

[2022-04-20 01:18] kanzaky commented on #92
Its because those values are private. I'm trying to change speed using sensors but its impossible without access to those values.
Can you please make values public PLEASE!! Its for a school work 😁. THANK YOU

[2022-04-20 01:18] kanzaky commented on #92
Its because those values are private. I'm trying to change speed using sensors but its impossible without access to those values.
Can you please make values public PLEASE!! Its for a school work 😁. THANK YOU

[2022-06-30 08:55] vtproduction commented on #86
Did you resolve it? I'm stuck on that issue too

[2022-09-21 05:23] hamidovmurad commented on #97
This solved my problem. code working stable
<img width="631" alt="Screen Shot 2022-09-21 at 09 19 53" src="https://user-images.githubusercontent.com/26930947/191420528-d5136efe-10a0-45d9-816a-b66f098ce8b1.png">

[2022-09-21 11:07] EliotWork commented on #73
-keep class org.jbox2d.** { *; }